/* Set padding to keep content from hitting the edges 
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 500px;
}


/
/*background style*/
body {
    background-color: powderblue;
}
/*table style*/
.table {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

/* table header */
.table thead {
    background-color: #004085;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.table th, .table td {
    vertical-align: middle;
    font-size: 15px;
    padding: 10px;
}

.table img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}
/*#cardView {
    display: none;
}*/
